nav{
    width: 100%;
    overflow: hidden;
    position: fixed;
    /* opacity: .5;*/ 
}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav li {
    line-height: 4rem;
    position: relative;
}

nav li ul {
    position: absolute;
}

nav a {
    text-decoration: none;
    color:rgb(31, 240, 48);
    padding: 0 2.5em;
    display: block;  /* Si no lo aplicamos entonces paddin solo aplica 20 a los lados en cambio poniendolo tambien aplica 0 arriba y abajo */
    transition: .4s;
}

nav a:hover {
    background: #75ACEC;
}

nav li ul {
    display: none; 
}

nav li:hover > ul {
    display: block;
}

/* PRIMER NIVEL */

nav > ul {
    /* background: #528fd5; */
    display: block;
    width: 100%;
}

nav > ul > li {
    float: left;   /* para que lis se apilen a la izq */
}

/* SEGUNDO NIVEL */

nav li li {
    background: #528fd5;
    width: 200px;
}

nav > ul > li > ul {
    top: 100%;
}

/* TERCER NIVEL */

nav ul ul ul {
    left: 100%;
    top: 0;
}


nav ul li.right {float: right;}

/* RESPONSIVE A 375PX  iphone x*/
@media screen and (max-width:414px){
    body{
        background: #528fd5;
    }
    
    /* nav a{display: none;} */ 
    nav ul li {
        float: none;
    }

    nav ul li.dropdown-content {
        display: block;
        float: none;
    }
}
