nav{
    width: 100%;
    overflow: hidden;
    position: fixed;
    /* opacity: .5;*/ 
}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav li {
    line-height: 4rem;
    position: relative;
}

nav li ul {
    position: absolute;
}

nav a {
    text-decoration: none;
    color:rgb(31, 240, 48);
    padding: 0 2.5em;
    display: block;  /* Si no lo aplicamos entonces paddin solo aplica 20 a los lados en cambio poniendolo tambien aplica 0 arriba y abajo */
    transition: .4s;
    font-size: 22px;
}

nav a:hover {
    background: rgb(98, 131, 106);
}

nav li ul {
    display: none; 
}

nav li:hover > ul {
    display: block;
}

/* PRIMER NIVEL */

nav > ul {
    /* background: #528fd5; */
    display: block;
    width: 100%;
}

nav > ul > li {
    float: left;   /* para que lis se apilen a la izq */
}

/* SEGUNDO NIVEL */

nav li li {
    background: #528fd5;
    width: 200px;
}

nav > ul > li > ul {
    top: 100%;
}

/* TERCER NIVEL */

/* nav ul ul ul {
    left: 100%;
    top: 0;
} */

/* PARA ICONO */
/* nav ul li.right {float: right;} */



.menu_bar{
    display: none;
}

/* RESPONSIVE A 375PX  iphone x*/
@media screen and (max-width: 414px) {

    nav{
        width: 80%;
        height: 65%;
        margin: 0;
        position: fixed;
        left: -400px;
    }

    nav ul li {
        display: block;
        float: none;
        border-bottom: solid 1px rgb(31, 240, 48);
        border-right: solid 1px rgb(31, 240, 48);
    }

    .menu_bar{
        display: block;
        width: 99%;
        position: fixed;
        /* background: #ccc; */
    }
    .menu_bar .btn-menu{
        display: block;
        /*padding: 25px;*/
        color:rgb(31, 240, 48);
        text-decoration: none;
        /* font-weight: bold; */
        /* font-size: 25px; */
        box-sizing: border-box;
        
    }

    .menu_bar span{
        padding: 12px;
        float: right;
        font-size: 40px;
    }
}



/* @media screen and (orientation: landscape){
    nav a {
        padding: 0 2.5em;
        transition: .4s;
        font-size: 13px;
    }
} */