.parallax {
    opacity: 0;
    /* The image used */
    background-image: url("../img/colonia.jpg");

    /* Set a specific height */
    min-height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax > h1 {
    padding-top: 350px;
    font-size: 4em
}

/* RESPONSIVE A 375PX  iphone x*/
@media screen and (max-width:414px){


.parallax{
    background-image: url("../img/colonia.jpg");

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


}
