.parallax {
    opacity: 0;
    /* The image used */
    background-image: url("../img/colonia.jpg");

    /* Set a specific height */
    min-height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax > h1 {
    padding-top: 350px;
    font-size: 5em
}

/* RESPONSIVE A 375PX  iphone x*/
@media screen and (max-width:414px){
    .parallax {
        opacity: 1;
        background-image: url("../img/chorrillos.jpeg");
        background-size: 100% 100%;
    }

}
