*{
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url("../img/amsterdam.jpg"); */
    color: #fff;
    text-align: center;
}

header,footer{
    width: 100%;
}




/* APARTADO PRIMER DIV */
.primero{
    /* list-style-type: none; */
    width: 100%;
    height: 1000px;
    background-color: #242325;
}

.titulo{
    width: 50%;
    float: left;
    color: #5c2e8a;
    padding-top: 350px;
}

.titulo > h1{
    font-size: 5em;
}
.titulo > h2{
    font-size: 3em;
}

.imagen{
    padding-top: 300px;
    width: 40%;
    height: 40%;;
    float: left;
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;
}

.imagen:hover {
    width: 50%;
    height: 50%;
}

.imagen > img {
    width: 50%;
    opacity: 0.5;
    border-radius: 8px;
}


/* APARTADO ESTUDIOS */
.estudios{
    background-image: url("../img/estudios.jpg");
    list-style-type: none; 
    width: 100%;
    height: 1000px;
    background-size: contain;
}

.estudios > h1{
    padding-top: 250px;
    font-size: 5em;
}

.estudios > ul > li {
    font-size: 3em;
}

/* ACTUALIDAD */
.actualidad{
    background-image: url("../img/colonia.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */;
    list-style-type: none; 
    width: 100%;
    height: 1000px;
    background-color: rgb(146, 146, 43);
}

.actualidad > h1{
    padding-top: 300px;
    font-size: 5em;
}

/* SERVICIOS */
.servicios{
    background-image: url("../img/chorrillos.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */;
    list-style-type: none; 
    width: 100%;
    height: 1000px;
    background-color: rgb(80, 123, 187);
}
/* BACKTRACK
.backtrack{
    list-style-type: none; 
    width: 100%;
    height: 1000px;
    background-color: rgb(146, 146, 43);
} */

footer{
    background: #33CB5A;
    opacity: 0.5;
    clear: both;  /*limpia los float sgts*/
    padding: 10px 0px;
    height: 200px;
    font-size: 5em;
}